<!doctype html>
<html>
	<head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/new-edit-item.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/new-edit-item-media.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
	</head>
	<body>
		{% include 'authorization.html' %}
		<div class='background-box-1'>
			<form class='item-form' action="{{ url_for('newItem') }}" method='POST'>
				<input class='item-name item-element item-input center-block' type='text' name='new-item-name' placeholder='Item Name'>
				{% with messages = get_flashed_messages() %}
		  			{% if messages %}
		    			<p class='flashes'>
		    				{% for message in messages %}
		      					{{ message }}
		    				{% endfor %}
		    			</p>
		  			{% endif %}
				{% endwith %}
				<textarea class='item-description item-element item-input center-block' name='new-item-description' placeholder='Item Description'></textarea>
				<select class='item-category item-element item-input center-block' name='new-item-category'>
					{% if categories %}
						{% for category in categories %}
							<option value='{{category.name}}'>{{category.name}}</option>
						{% endfor %}
					{% endif %}
				</select>
				<input class='item-submit item-element center-block' type='submit' value="Add New Item">
			</form>
		</div>
		<script src="{{url_for('static', filename='scripts/jquery-3.2.1.min.js')}}"></script>
		<script src="{{url_for('static', filename='scripts/newItemValidation.js')}}"></script>
	</body>
</html>