@media (max-width: 900px) {
	.item-element {
	    width: 90%;
	}
	.flashes {
		margin-left: calc(5% + 10px);	
	}
}
@media (max-width: 600px) {
	.nav {
	    position: static; 
	    margin-left: 5%;
	    margin-top: 20px;
	    width: 90%;
	}
	.title {
	    margin-left: calc((100% - 224.73px)/2);
	}
	.background-box-1 { 
	    position: static;
	    height: auto;
		width: 90%;
		margin-left: 5%;
		margin-top: 20px;
	}
	.item-form {
	    margin-top: 0;
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
}
@media (max-width: 500px) {
	.nav {
		padding: 10px 0 20px 0; 
		margin-top: 20px;
	}
	.title {
		display: block;
		font-size: 50px;
		margin-left: calc((100% - 224.75px)/2);
	}
	.login-signup {
		width: 100px;
		margin-top: 0;
		margin-right: calc((100% - 100px)/2);
	}
	.flashes {
		margin-left: calc((10%/2) + 10px);
}